{% extends 'base.html' %}
{% load static %}

{% block content %}
    <blockquote><p>Як щодо супу з відсутності шифрування, конфіденційності, та стеження. Я говорю про централізовані месенджери, створені для контролю, про дилера який підсаджує людей на розкручені маркетингом функції; послідовники не більше ніж наркомани, які лише й хочуть, щоб їхня доза лайна підтримувала їхній дофамін необачності, про наркоманів які бояться повірити в правду в те, що немає конфіденційності, немає безпеки в нав'язаному їм месенджері, що всі централізовані месенджерa це просто метастаза черв'яків у мозку, призначені, щоб шарлатанам легше контролювати нас. Все, що ми для них, -  довірливі фанати їх погано написаного коду. Люди думають, що їх сліпа довіра це ключ до щастя. Ось так він володіє тобою. Навіть я не настільки божевільний, щоб повірити в безпечність централізованих месенджерів. Так що до біса них!!!</p></blockquote>
    <p>З часом всі це зрозуміють і хоч це доволі оптимістично я не втрачатиму надії, я роблю дії, щоб прискорити це. Матриця це не просто месенджер це спроба згуртувати по справжньому розумних людей. Хоч цей сервер з початку і планувався як спосіб мого зв'язку з моїми друзями, я не проти нових людей які долучаться до проєкту, просто використовуючи мій сервер, або ж проявами активності в тематичних кімнатах сервера, розповсюдженням інформації про цей проєкт, та пожертвами коштів на оплату сервера.</p>
    <img src="{% static 'home/раби_матриця.gif' %}" alt="раби_матриця.gif">
    <p>Звісно в мене є обов'язкові вимоги/правила, з якими ви повинні погодитися перед тим як реєструватися у мене:</p>
    <ul>
        <li>Не використовуйте сервер, щоб порушувати закони України</li>
        <li>Мова публічних кімнат сервера українська, (російська заборонена)</li>
        <li>Адмін може видалити обліковий запис якщо вважатиме це за потрібне</li>
        <li>Адміни публічних кімнат можуть додати також свої правила, за невиконання яких Вас буде виключено з кімнати</li>
        <li>Щоб опублікувати кімнату на загальний огляд потрібно отримати згоду адміна</li>
    </ul>
    <p>Якщо у Вас виникнуть запитання в процесі дослідження/використання Матриці, зверніться до адміна, або учасників кімнати <code>#cyberia:matrix.opulus.space</code>.</p>
    <p>Адмін: <code>@foresle:matrix.opulus.space</code></p>
    <p>Адреса сервера: <a href="https://matrix.opulus.space">https://matrix.opulus.space</a></p>
    <p>Для новачків також корисно прочитати ось цей матеріал -> <a href="https://forblog.live/posts/articles/d1dd662735874a70af8d571a4c064cec/">Чому Telegram зло, та Matrix!=Element</a></p>
    <p>Якщо хочете поспілкуватися з різними людьми голосом, відвідуйте мій сервер <a href="mumble://voice.opulus.space/%D0%9A%D0%B0%D1%81%D1%82%D1%80%D1%83%D0%BB%D1%8C%D0%BA%D0%B0%20%D0%B7%20%D0%B1%D0%BE%D1%80%D1%89%D0%B8%D0%BA%D0%BE%D0%BC?title=opsp%20voice%20chat&version=1.2.0">Mumble</a> час від часу, правила ті ж, що й для Матриці.</p>
    <p>Посилання для збору на оплати сервера:</p>
    <ul>
        <li><a href="https://send.monobank.ua/jar/4sYihgZP9u">Банка Моно</a></li>
    </ul>
    <p>Інші контакти адміна:</p>
    <ul>
        <li><a href="https://mstdn.social/web/@foresle">Mastodon</a></li>
        <li><a href="https://forblog.live/">Блог</a></li>
    </ul>
    <h4>Також буде цікавим:</h4>
    <ul>
        <li><a href="{% url 'map' %}">🗺️ матриці</a></li>
        <li><a href="{% url 'bot_list' %}">🤖 матриці</a></li>
    </ul>
    <p></p>
    {% if tip %}
        <h4>Випадкова <a href="{% url 'tip_detail' tip.pk %}">підказка #{{ tip.pk }}</a></h4>
        <blockquote>
            <p>{{ tip.text }}</p>
        </blockquote>
        <p><a href="{% url 'tip_list' %}">Всі підказки</a></p>
    {% endif %}
{% endblock %}