{% load static %}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>opsp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'base/main.css' %}">
</head>
<body>
    <div>
        <header>
            <div><span>opsp</span></div>
            <div><span>- простір свободи</span></div>
        </header>
        <div>
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <div>
        <div class="color_scheme_picker old_style" onclick="theme_changer(1)"></div>
        <div class="color_scheme_picker dark_style" onclick="theme_changer(2)"></div>
        <div class="color_scheme_picker light_style" onclick="theme_changer(3)"></div>
    </div>

    <script src="{% static 'base/theme_changer.js' %}"></script>
</body>
</html>